<section class="h-screen w-full text-white pt-10">
  <div id="introduction" class="text-center">
    <h1 class="text-6xl font-bold text-third">Daily Log</h1>
    <p class="text-secondary mt-3 italic text-lg">
      A table that helps you keep track of what you have done in one day
    </p>
  </div>
  <div id="content" class="flex justify-center">
    <div id="tableContainer" class="w-1/2 mx-auto">
      <table mat-table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

        <!-- Task Column -->
        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef>Task</th>
          <td mat-cell *matCellDef="let element">{{ element.taskName }}</td>
        </ng-container>

        <!-- Start Time Column -->
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef>Start Time</th>
          <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
        </ng-container>

        <!-- End Time Column -->
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef>End Time</th>
          <td mat-cell *matCellDef="let element">{{ element.endTime }}</td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element">{{ element.note }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div id="utility" class="mx-auto">
      <!-- Stopwatch -->
      <div id="stopWatch">
        <div id="stopWatchContainer">
          <app-stop-watch></app-stop-watch>
        </div>
      </div>
      <!-- Input form for task -->
      <div
        id="inputContainer"
        class="bg-secondary text-center px-12 py-3 border-4 border-solid border-fifth rounded my-5"
      >
        <h2 class="text-2xl text-center text-third">Add a new task</h2>
        <form
          [formGroup]="inputForm"
          class="flex flex-col"
          (ngSubmit)="addLog()"
          (ngReset)="resetLog()"
        >
          <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput formControlName="taskName" />
            <mat-error
              *ngIf="inputForm.get('taskName')?.errors?.['required'] &&
            (inputForm.get('taskName')?.touched ||
            inputForm.get('taskName')?.dirty || submitted)"
              class="font-bold"
              >Task name is required</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="taskType">
              <mat-option *ngFor="let type of taskTypes" [value]="type">{{
                type
              }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="inputForm.get('taskType')?.errors?.['required'] &&
            (inputForm.get('taskType')?.touched ||
            inputForm.get('taskType')?.dirty || submitted)"
              class="font-bold"
              >Task type is required</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input type="time" matInput formControlName="startTime" />
            <mat-error
              *ngIf="inputForm.get('startTime')?.errors?.['required'] &&
            (inputForm.get('startTime')?.touched ||
            inputForm.get('startTime')?.dirty || submitted)"
              class="font-bold"
              >Start time is required</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Time</mat-label>
            <input type="time" matInput formControlName="endTime" />
            <mat-error
              *ngIf="inputForm.get('endTime')?.errors?.['required'] &&
            (inputForm.get('endTime')?.touched ||
            inputForm.get('endTime')?.dirty || submitted)"
              class="font-bold"
              >End time is required</mat-error
            >
            <mat-error
              *ngIf="inputForm.get('endTime')?.errors?.['tooSmall'] &&
            (inputForm.get('endTime')?.touched ||
            inputForm.get('endTime')?.dirty || submitted)"
              class="font-bold"
              >End time should be larger than start time</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Note</mat-label>
            <textarea
              matInput
              formControlName="note"
              placeholder="Note"
            ></textarea>
          </mat-form-field>
          <!-- Buttons action -->
          <div id="buttonContainer">
            <button
              class="bg-primary hover:bg-fifth text-white font-bold py-2.5 px-4 rounded mr-4"
              type="submit"
            >
              Add
            </button>
            <button
              class="bg-transparent text-white font-bold py-2 px-4 rounded border-primary border-2 hover:border-fifth hover:text-fifth"
              type="reset"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
