<div
  id="recordIDHere"
  class="bg-primary rounded-xl border-4 border-solid border-fifth my-3 px-4 py-5 flex justify-between items-center"
  [ngClass]="{ 'border-green-500': table.completedAll === true }"
>
  <div class="flex items-center cursor-pointer" (click)="openTable()">
    <mat-icon class="!h-8 !w-8 text-3xl !flex justify-center items-center"
      >list_alt</mat-icon
    >
    <h2 class="!m-0">Date: {{ table.date | date}}</h2>
  </div>
  <div class="w-1/2 flex justify-end items-center">
    <!-- todo -->
    <div
      id="progressBar"
      class="w-7/12 h-8 bg-red-500 overflow-hidden rounded-2xl"
    >
      <div
        id="progressBarFill"
        class="h-full bg-green-500 relative"
        [style.width]="progressBarWidth"
      >
        <span
          class="absolute right-0 top-1/2 -translate-y-2/4"
          [ngClass]="{ 'translate-x-full -right-3': table.completedRate < 20 }"
          >{{ table.completedRate }}%</span
        >
      </div>
    </div>
    <button
      class="bg-third text-black rounded-xl px-4 py-2 ml-5 font-semibold"
      (click)="openTable()"
    >
      View
    </button>
    <mat-icon class="ml-5 cursor-pointer" (click)="deleteTable()"
      >delete</mat-icon
    >
  </div>
</div>
