<div
  id="recordIDHere"
  class="bg-primary rounded-xl border-4 border-solid border-fifth my-3 px-4 py-5 flex justify-between items-center"
>
  <div class="flex items-center cursor-pointer" (click)="openTable()">
    <mat-icon class="!h-8 !w-8 text-3xl !flex justify-center items-center"
      >list_alt</mat-icon
    >
    <h2 class="!m-0">Date: {{ table.date | date }}</h2>
  </div>
  <div class="w-1/2 flex justify-end items-center">
    <button
      class="bg-third text-black rounded-xl px-4 py-2 ml-5 font-semibold"
      (click)="openTable()"
    >
      View
    </button>
    <mat-icon class="ml-5 cursor-pointer" (click)="deleteTable()"
      >delete</mat-icon
    >
  </div>
</div>
