<section class="h-screen pt-5 text-white mx-6">
  <div id="header" class="flex justify-between items-center flex-wrap">
    <h1 class="!text-4xl">Contact me</h1>
    <div id="linkLists" class="flex items-center flex-wrap whitespace-nowrap">
      <a
        href="https://www.linkedin.com/in/le-linh-nguyen-21092002/"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2 mt-1"
        target="_blank"
      >
        <fa-icon [icon]="faLinkedin" size="xl" class="mr-1"></fa-icon>LinkedIn
      </a>
      <a
        href="https://github.com/LinhNguyenLe2109"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-2 mt-1"
        target="_blank"
        ><fa-icon [icon]="faSquareGithub" size="xl" class="mr-1"></fa-icon
        >GitHub</a
      >
      <a
        href="https://github.com/LinhNguyenLe2109/Lazyless"
        class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded mx-2 mt-1"
        target="_blank"
        ><fa-icon [icon]="faLaptopCode" size="xl" class="mr-1"></fa-icon>Source
        code</a
      >
    </div>
  </div>
  <div id="body" class="mt-6">
    <p>
      This application is created to improve time efficiency and keep track of
      the tasks that we do for a day. It's also created to experience Angular,
      MongoDB and Express.js
    </p>
  </div>
</section>
