<div
  [id]="task.id"
  class="flex justify-between mx-4 my-3 items-center flex-wrap"
>
  <p
    class="px-2 py-1 !m-0"
    [ngClass]="{ 'line-through bg-green-600 text-white rounded-md': isDone }"
  >
    {{ task.taskDescription }}
  </p>
  <div id="optionList" class="flex">
    <mat-icon
      (click)="doneButtonHandler()"
      class="text-green-500 cursor-pointer mr-2"
      >check_circle_outline</mat-icon
    >
    <mat-icon
      (click)="removeButtonHandler()"
      class="text-red-500 cursor-pointer"
      >delete</mat-icon
    >
  </div>
</div>
