<div class="bg-fifth text-third flex py-5 items-center justify-between">
  <div id="navBrand" class="text-2xl font-bold ms-6">LazyLess</div>
  <div id="navIcon" class="hidden">todo</div>
  <div id="navLinks" class="me-10">
    <ul class="flex space-x-5">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li>
        <a routerLink="/dailyTable" routerLinkActive="active">Daily Table</a>
      </li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Log in</a></li>
    </ul>
  </div>
</div>
