<section id="dailyTableHistory" class="h-screen w-full text-white pt-10">
    <h1 class="text-center !text-4xl !font-medium">Browse daily log history</h1>
    <section id="body" class="mx-10 h-full rounded-lg">
        <!-- header -->
        <app-table-log-nav></app-table-log-nav>
        <!-- body -->
        <section id="dailyTableList" class="w-full h-full">
            <app-daily-log-record *ngFor="let log of logs" [log]="log"></app-daily-log-record>
        </section>

    </section>
</section>