@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3a506b;
  --secondary: #448b8a;
  --third: #6fffe9;
  --forth: #1c2541;
  --fifth: #0b132b;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
