#appTitle {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  #appTitle {
    font-size: 3rem;
  }
}
